::ng-deep .mat-mdc-autocomplete-panel {
  .mat-mdc-option {
    min-height: 40px;
    line-height: 40px;

    // Tree-like indentation and line
    .tree-node-line {
      color: rgba(0, 0, 0, 0.54);
      margin-right: 8px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: -12px;
        top: -20px;
        height: 40px;
        border-left: 1px solid rgba(0, 0, 0, 0.12);
      }
    }
  }

  .mat-mdc-optgroup {
    min-height: 40px;
    line-height: 40px;
    display: block;
  }

  .parent-node {
    padding: 0 16px;
    line-height: 40px;
    min-height: 40px;
    color: rgba(0, 0, 0, 0.87);
  }
}
