<mat-form-field appearance="fill" class="w-full">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="filterChanged($event)" placeholder="Type to filter...">
  <button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-checkbox [(ngModel)]="multiple">Multiple</mat-checkbox>
<mat-checkbox [(ngModel)]="independentParentChildSelection" *ngIf="multiple">
  Independent parent-child selection
</mat-checkbox>

<mat-chip-listbox *ngIf="checklistSelection.selected.length > 0" class="mb-4">
  <mat-chip *ngFor="let node of checklistSelection.selected" (removed)="leafItemSelectionToggle(node)">
    {{node.name}}
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
</mat-chip-listbox>


<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
  <!-- Leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding 
    (click)="!multiple && selectNode(node)"
    [class.not-selectable]="node.selectable === false">
    <mat-checkbox *ngIf="multiple"
      [checked]="checklistSelection.isSelected(node)"
      [disabled]="node.selectable === false"
      (change)="leafItemSelectionToggle(node)">
    </mat-checkbox>
    <button mat-icon-button disabled></button>
    <span [class.selected]="!multiple && checklistSelection.isSelected(node)">{{node.name}}</span>
  </mat-tree-node>

  <!-- Expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
    [class.not-selectable]="node.selectable === false">
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox *ngIf="multiple"
      [checked]="independentParentChildSelection ? 
                 checklistSelection.isSelected(node) : 
                 descendantsAllSelected(node)"
      [indeterminate]="!independentParentChildSelection && 
                       descendantsPartiallySelected(node)"
      [disabled]="node.selectable === false"
      (change)="parentItemSelectionToggle(node)"
      (click)="$event.stopPropagation()">
    </mat-checkbox>
    {{node.name}}
  </mat-tree-node>
</mat-tree>