app-nested-tree {
  display: flex;
  flex-direction: column;
  width: 100%;

  .breadcrumbs-container {
    padding: 0px 16px;
    margin-bottom: 16px;
  }

  .selected {
    font-weight: bold;
    color: your-selected-color;
  }

  .tree-container {
    overflow: auto;
  }

  .filter-input {
    width: 100%;
  }

  .mat-tree-node {
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    &.not-selectable {
      cursor: default;
      opacity: 0.6;

      &:hover {
        background-color: transparent;
      }
    }

    .selected {
      font-weight: bold;
    }
  }
}
