.search-panel {
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  overflow-y: auto;
}

.search-input {
  width: 100%;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

mat-chip-list {
  margin-top: -16px;
}
