<div truncate style="width: 300px; margin-bottom: 20px">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem
  ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum
  dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor
  sit amet consectetur adipisicing elit.
</div>
<div style="width: 300px">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem
  ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
</div>
